altair>=5.0.0
annotated-types
anyio
APScheduler
attrs
beautifulsoup4
blinker
brotli
cachetools
certifi
cffi
charset-normalizer
click
cssselect2
deep-translator
distro
fonttools
gitdb
GitPython
groq
h11
httpcore
httpx
idna
Jinja2
jsonschema
jsonschema-specifications
lxml
markdown-it-py
MarkupSafe
mdurl
narwhals
numpy
packaging
pandas
pillow>=10.0.0
protobuf
pyarrow
pycparser
pydantic
pydantic_core
pydeck
pydyf
Pygments
pyphen
python-dateutil
python-dotenv
pytz
referencing
requests
rich
rpds-py
six
smmap
sniffio
soupsieve
streamlit>=1.30.0
tenacity
tinycss2
tinyhtml5
toml
tornado
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
watchdog
weasyprint>=60.0
webencodings
zopfli
