APScheduler==3.10.4
beautifulsoup4==4.12.3
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
lxml==5.1.0
pillow==12.0.0
pytz==2025.2
reportlab==4.0.7
requests==2.31.0
six==1.17.0
soupsieve==2.8.1
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.6.2
